<ng-template [ngIf]="phoneMode">
    <a (click)="onMenu()" class="phone-menu">
        <img src="assets/menu-icon.svg" alt="menu icon">
    </a>
    <div class="menu-container" *ngIf="showMenu">
        <section class="menu">
            <a class="item" [routerLink]="['/'+item.title]" routerLinkActive="active"  *ngFor="let item of menuOptions">
                <img src={{item.imageUrl}} alt={{item.title}}>
                {{item.title}}
            </a>
        </section>
    </div>
</ng-template>
<ng-template [ngIf]="!phoneMode">
    <div class="menu-container">
        <section class="menu">
            <a class="item" [routerLink]="['/'+item.title]" routerLinkActive="active"  *ngFor="let item of menuOptions">
                <img src={{item.imageUrl}} alt={{item.title}}>
                {{item.title}}
            </a>
        </section>
    </div>
</ng-template>
